@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter";
}
.container{
    height: 70vh;
    width: 100%;
    background-color:#FFCD9E ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{

    width: 50%;
    height: 100%;
    padding: 95px 0px 80px 150px ;   
    color: #282828;
    font-family:"Inter";
    font-weight:700;


}

.left h1{
    font-family:"Inter";
    font-weight:700;

}

.left p,h4,input{
    margin-top: 30px;
}
.left p{
    line-height: 30px;
    font-family:"Inter";
    color:#484848;
    font-weight:525;
}


.left h5{
padding-top: 30px;
color: #FFFFFF;
margin-left: 30px;
font-family:"Inter";
font-weight:500;



}
.left input{
    padding: 14px 55px;
    border-radius: 8px;
    border: 4px solid black;
}
::placeholder{
    color: #888888;
    position: absolute;
    left: 10px;
    font-size: medium;
    letter-spacing: 1px;
    font-weight:600;

}
.left button{
    margin-left: 10px;
    border-radius: 8px;
    padding: 14px 40px;
    background-color:  #282828;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}

.right{
    width: 40%;
    height: 100%;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img{
    height: 575px;
    width: 575px;
}
footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 100%;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #282828;
    font-family:"Inter";
    gap: 200px;
}
footer ul li{
    list-style: none;
    font-size: 20px;
    line-height: 32px;
    font-family:"Inter";
    font-weight: 400;
    
    
}
.small li{
    font-size: 20px;
    line-height: 32px;

}
.li-left{
    margin-left: 120px;
    margin-top: 5px;
   
}
.li-img{
    margin-left: 150px;
    
}
.li-img img{
    margin-top: 5px;
    height: 27.42px;
    width: 29.41px;
}
.ab{
    color: #282828;
}
.abc{
    margin-left: 70px;
}   
